
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // As transações de um usuário só podem ser acessadas por ele mesmo.
    match /transactions/{transactionId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }
  }
}
